:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-hero-footer: #2f303a;
  --h-color: #212121;
  --text-color: #757575;
  --background-team: #f5f4fa;
  --logo-item-header: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  background: var(--background-color);
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* BUTTONS */

.modal-btn {
  padding: 10px 32px;
  margin-bottom: 200px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--h-color);
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* BUTTONS END */

/* HEADER */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.phone-link {
  margin-left: 50px;
}

.email-link,
.phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.email-link:focus,
.email-link:hover,
.phone-link:focus,
.phone-link:hover {
  color: var(--accent-color);
}

/* END HEADER */

/* HERO */

.hero .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero {
  background-color: var(--background-hero-footer);
}

.hero-title {
  margin: 0 auto;
  max-width: 700px;
  max-height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 200px;
  margin-bottom: 30px;
}

/* END HERO */

/* ADVANTAGES */

.container .advantages-list {
  display: flex;
  margin-top: 95px;
  margin-bottom: 95px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ADVANTAGES END */

/* OCCUPATION */

.occupation .container {
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 95px;
}

.occupation-item {
  margin-left: 30px;
  margin-top: 30px;
}

.occupation-list {
  display: flex;
  flex-basis: (100%\3 -30px);
}

.occupation-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

/* OCCUPATION END */

/* TEAM */

.team {
  background-color: var(--background-team);
}

.team-list-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team .container {
  margin-top: -50px;
  margin-left: -30px;
}

.team-list-item {
  margin-top: 50px;
  margin-left: 30px;
}

.team-list {
  display: flex;
  flex-basis: (100%\4 -30px);
}

.team-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

.team-list-occupation {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* TEAM END */

/* LOGO */

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo {
  margin-right: 90px;
}

.logo-item-header {
  color: var(--logo-item-header);
}

.logo-item-footer {
  color: var(--background-color);
}

/* LOGO END */

/* FOOTER */

.footer {
  background-color: var(--background-hero-footer);
}

.footer-direct-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-direct-address:hover,
.footer-direct-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* FOOTER END */

/* PROJECTS */

.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* PROJECTS END */
